{% extends 'base_layout.html' %}


{% block auth %}
    <body class=" profile">
    <div class="columns">
        <div class="column is-6">
            <div class="box">
                <div class="columns">
                    <div class="column">
                        Your name:
                    </div>
                    <div class="column">
                        {{ user.first_name }}
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        Your username:
                    </div>
                    <div class="column">
                        {{ user.username }}
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        Your email:
                    </div>
                    <div class="column">
                        {{ user.email }}
                    </div>
                </div>

            </div>
            <a href="{% url 'users:my_profile' %}" class="button is-outlined is-fullwidth is-centered">
                    Go to my Profile
                </a>
        </div>
        <div class="column is-4">
            <div class="box">
                <form class="form" method="post" enctype="multipart/form-data">
                    <h1 class="title has-text-centered is-2">
                        Edit Profile
                    </h1>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="label">
                                {{ field.label }}
                            </label>
                            <div class="control">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <button class="button is-primary is-fullwidth" type="submit">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}




