{% extends 'base_layout.html' %}
{% load static %}

{% block auth %}
    <body class="sign">
    <div class="columns is-centered" style="font-family:FrankRuehl ">
        <div class="column is-5">
            <div class="box back " style="border-radius:35px">
                <div class="title is-2 has-text-centered">
                    REGISTRATION
                </div>
                <hr>
                <form class="form" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field is-link">
                            <label class="label" for="{{ field.id_for_label }}">
                                {{ field.label }}
                            </label>
                            <div class="control">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="button is-outline is-light my-2 is-fullwidth">
                        Confirm
                    </button>
                </form>
            </div>
        </div>
    <div class="column is-4 my-4">
        <h1 class="title is-1">

Already have an account?
        </h1>
                                        <a href="{% url 'users:sign_in' %}" class="button is-rounded is-fullwidth is-success ">Sign In</a>

    </div>
    </div>
    </body>
{% endblock %}