{% extends 'base_layout.html' %}

{% block content %}
   <div class="columns is-centered">
        <div class="column is-6 p-6">
            <div class="title">Задайте свой вопрос</div>
            <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eos fugiat nam obcaecati perspiciatis. Ad asperiores ea iure magni nesciunt.</div>
        </div>
   <div class="column is-6">
        <div class="box" style="min-height:350px">
              <form class="form " method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field ">
                            <label class="label" for="{{ field.id_for_label }}">
                                {{ field.label }}
                            </label>
                            <div class="control">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="button is-info is-fullwidth">
                        адать
                    </button>

                </form>
        </div>
    </div>
   </div>
{% endblock %}