{% extends 'base_layout.html' %}

{% block content %}
    <div class="section">
        <div class="columns">
            {% for question in questions %}
                <div class="column is-4">
                    <a href="{% url 'community:question_detail' question.pk %}">
                        <div class="box">
                        <div class="title">
                            {{ question }}
                        </div>
                        <div class="subtitle">
                            {{ question.date }}
                        </div>
                    </div>
                    </a>
                </div>
                <div class="subtitle">
                    <a class="button" href="{% url 'community:answer' question.pk %}">Ответить</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}