{% extends 'base_layout.html' %}

{% block content %}
    <div class="section">
        <div class="columns is-centered is-multiline">
            {% for question in questions %}
                <div class="column is-10">
                    <div class="box">
                        <a href="{% url 'community:question_detail' question.pk %}">
                            <div class="title">{{ question.title }}</div>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}