{% extends 'base_layout.html' %}

{% block content %}
    <div class="section">
        <div class="columns">
            {% for question in questions %}
                <div class="column is-4">
                    <div class="box">
                        <div class="title">
                            {{ question }}
                        </div>
                        <div class="subtitle">
                            {{ question.date }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}